body {
  margin: 0;
  padding: 0;
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}
body .header-fixed-scroll {
  position: fixed;
  width: 100vw;
  padding: 10px 0;
  color: white;
  background: #080003;
  z-index: 10;
}
body .header-fixed-scroll .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
body .header-fixed-scroll .header-container .logo-wrapper {
  position: relative;
}
body .header-fixed-scroll .header-container .logo-wrapper .logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}
body .header-fixed-scroll .header-container .logo-wrapper .logo img {
  vertical-align: middle;
}
body .header-fixed-scroll .header-container .header-menu {
  position: relative;
}
body .header-fixed-scroll .header-container .header-menu .menu-container .menu-container-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
}
body .header-fixed-scroll .header-container .header-menu .menu-container .menu-container-ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}
body .header-fixed-scroll .header-container .header-menu .menu-container .menu-container-ul a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  margin-left: 0;
}
body .header-fixed-scroll .header-container .header-menu .menu-container .menu-container-ul a:hover {
  border-bottom: 1px solid white;
  transition: 0.3s;
}
body .header-fixed-scroll .header-container .header-contacts {
  color: white;
  right: 50px;
}
body .header-fixed-scroll .header-container .header-contacts .contacts-icon .fa {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  transition: 0.2s ease-out;
}
body .header-fixed-scroll .header-container .header-contacts .contacts-icon .fa:hover {
  border-bottom: 1px solid white;
}
body .menu-block {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
body .menu-block .team-logo {
  display: flex;
  justify-content: center;
  animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .menu-block .menu-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .menu-block .menu-container img {
  width: 75px;
}
body .menu-block .menu-container .team-block {
  text-align: center;
}
body .menu-block .menu-container .achievements-block {
  text-align: center;
}
body .menu-block .menu-container .contacts-block {
  text-align: center;
}
body .menu-block .menu-container p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px #000000;
}
body .menu-block .menu-container .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 4px solid black;
  border-radius: 50%;
  margin: 0 25px 0 25px;
  cursor: pointer;
  background-color: #daae51;
}
body .menu-block .menu-container .menu-item:hover {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  transition: 5s;
}
body .main-container {
  padding: 100px 0 0 0;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-container .fade {
  animation: fade 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container #current-roster {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 80px 50px;
}
body .main-container #current-roster .player-model {
  cursor: pointer;
  position: absolute;
  animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container #current-roster .player-model:hover .player-nickname {
  opacity: 1;
  transition: 2s;
}
body .main-container #current-roster .player-model img {
  width: 340px;
  transition: 0.3s;
}
body .main-container #current-roster .player-model img:hover {
  width: 380px;
  transition: 0.3s;
}
body .main-container #current-roster .player-model .player-nickname {
  position: absolute;
  top: 20px;
  margin: 0;
  color: white;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  opacity: 0;
}
body .main-container #current-roster #first-player {
  left: 0;
}
body .main-container #current-roster #first-player .player-nickname {
  left: 96px;
}
body .main-container #current-roster #second-player {
  left: 20%;
}
body .main-container #current-roster #second-player .player-nickname {
  left: 130px;
}
body .main-container #current-roster #third-player {
  left: 40%;
}
body .main-container #current-roster #third-player .player-nickname {
  left: 115px;
}
body .main-container #current-roster #forth-player {
  left: 60%;
}
body .main-container #current-roster #forth-player .player-nickname {
  left: 130px;
}
body .main-container #current-roster #forth-player img {
  transform: scaleX(-1);
}
body .main-container #current-roster #fifth-player {
  left: 80%;
}
body .main-container #current-roster #fifth-player .player-nickname {
  left: 210px;
}
body .main-container #current-roster #fifth-player img {
  transform: scaleX(-1);
}
body .main-container #player-info {
  display: none;
  justify-content: center;
  margin: 80px 50px;
  animation: fade 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container #player-info .arrow {
  color: white;
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: bold;
  margin: auto 0;
}
body .main-container #player-info .arrow:hover {
  color: #4551ff;
  cursor: pointer;
}
body .main-container #player-info .model-block img {
  width: 340px;
  cursor: pointer;
}
body .main-container #player-info .main-block {
  display: flex;
  width: 780px;
  padding: 0 80px;
  animation: fade 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container #player-info .main-block .info-block {
  width: 100%;
  margin-left: 50px;
  padding: 150px 0;
}
body .main-container #player-info .main-block .info-block .buttonWrap #buttonLeft,
body .main-container #player-info .main-block .info-block .buttonWrap #buttonRight {
  border: none;
  margin: 0 2px;
  height: 4px;
  width: 48%;
}
body .main-container #player-info .main-block .info-block .buttonWrap #buttonLeft:hover,
body .main-container #player-info .main-block .info-block .buttonWrap #buttonRight:hover {
  background-color: #4551ff;
  cursor: pointer;
}
body .main-container #player-info .main-block .info-block #playerBioWrap {
  display: block;
}
body .main-container #player-info .main-block .info-block #playerBioWrap .player-bio {
  color: white;
  margin: 5px;
  font-size: 30px;
  font-family: 'Lora', serif;
}
body .main-container #player-info .main-block .info-block #linkWrap {
  display: none;
  width: 100%;
  margin: 5px;
}
body .main-container #player-info .main-block .info-block #linkWrap .linkInfo {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  text-decoration: none;
}
body .main-container #player-info .main-block .info-block #linkWrap .linkInfo img {
  width: 46px;
}
body .main-container #player-info .main-block .info-block #linkWrap .linkInfo p {
  color: white;
  margin: 5px;
  font-size: 30px;
  font-family: 'Lora', serif;
}
body .main-container .achievements {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 250px 0 250px;
}
body .main-container .achievements .tournament-text {
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 30px;
  text-shadow: 5px 1px 2px #000000;
}
body .main-container .achievements #tournament-wrapper {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
body .main-container .achievements #tournament-wrapper .tournament-card {
  display: flex;
  background-color: black;
  padding: 5px;
  margin: 10px;
  animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container .achievements #tournament-wrapper .tournament-card .main-section {
  position: relative;
}
body .main-container .achievements #tournament-wrapper .tournament-card .main-section a {
  position: absolute;
  width: 200px;
  height: 230px;
}
body .main-container .achievements #tournament-wrapper .tournament-card .main-section .poster {
  width: 200px;
  height: 200px;
}
body .main-container .achievements #tournament-wrapper .tournament-card .main-section .placement-text {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
body .main-container .achievements #tournament-wrapper .tournament-card .main-section:hover {
  cursor: pointer;
}
body .main-container .achievements #tournament-wrapper .tournament-card .tournament-info {
  margin-left: 5px;
  padding: 15px 10px;
  width: 400px;
  background-color: white;
  animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body .main-container .achievements #tournament-wrapper .tournament-card .tournament-info .tournament-info-text {
  margin: 5px;
  font-family: 'Lora', serif;
  font-size: 19px;
}
body .main-container .achievements #tournament-wrapper .tournament-card .tournament-info .tournament-info-text span {
  font-weight: bold;
}
body .main-container .contacts-wrapper {
  padding: 15px 0;
}
body .main-container .contacts-wrapper .contacts-header {
  margin: 0 150px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid black;
}
body .main-container .contacts-wrapper .contacts-header p {
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 50px;
  text-shadow: 5px 1px 2px #000000;
}
body .main-container .contacts-wrapper .contacts-text {
  padding: 20px 0;
  text-align: center;
}
body .main-container .contacts-wrapper .contacts-text p {
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 30px;
  text-shadow: 5px 1px 2px #000000;
}
body .main-container .contacts-wrapper .contacts-main-block {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 0 150px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-telegram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-telegram .info-input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  width: 400px;
  font-size: 22px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-telegram .message-input {
  margin-bottom: 10px;
  resize: none;
  border-radius: 10px;
  padding: 5px 15px;
  width: 400px;
  height: 380px;
  font-size: 22px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-telegram .send-message {
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: 200px;
  border-radius: 15px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-telegram .send-message:hover {
  cursor: pointer;
  background-color: black;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-details {
  padding: 65px 0;
  width: 450px;
  font-size: 24px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-details .info-block {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-shadow: 5px 1px 2px #000000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
body .main-container .contacts-wrapper .contacts-main-block .contacts-details .info-block .fa {
  font-size: 50px;
}
/*# sourceMappingURL=style.css.map */